@model Nu34life.Models.Patient

@{
    ViewBag.Title = "InsertState";
    if (Session["Email"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Buscar estado por Paciente:</h2>


@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Action("ListaPatient", "Patient")
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btn_GoPatient" type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}
