
@model ICollection<Nu34life.Models.Plans_Recipes>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Crear Plan", "Create")
</p>
<p>
    @Html.ActionLink("Insertar Alimento", "CreatePlan_Recipe")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.Name)

            </td>


        </tr>
    }
</table>
@section scripts{
    <script>
$(".nElimina").click(function (event) {
            if (confirm('Estas seguro de eliminar?') == false){
                event.preventDefault();
            }
        });</script>
}